@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@300&family=Varela+Round&display=swap');

:root {
    --primary-color: #0193E0;
    --secondary-color: #E6752F;
    --accent1-color: #251663;
    --accent2-color: #F5ED16;
}

h1, h2 {
    color: var(--accent1-color);
    font-family: "Grandstander", serif;
}

p {
    color: var(--accent1-color);
    font-family: "Varela Round", sans-serif;
}

a {
    text-decoration-line: none;
}

body {
    max-width:1500px;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 150px;
    height: auto
}

.hero {
    position: absolute;
    display: block;
}

h1, article {
    position: absolute;
    float: right;
}