@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@300&family=Varela+Round&display=swap');

/* Define the CSS variables in the document :root pseudo-class selector from the color schema you have selected and 
documented in your website plan. */

:root {
    --primary-color: #0193E0;
    --secondary-color: #E6752F;
    --accent1-color: #251663;
    --accent2-color: #F5ED16;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 2fr 6fr;
    align-items: center;
    justify-items: center;
    border-bottom: 5px solid #251663;
    max-width: 1500px;
}

header img {
    margin: .5rem .5rem 1 rem;
    width: 200px;
    height: auto;
}

nav {
    display: flex;
}

a {
    text-decoration-line: none;
    padding: 5px;
    color: #251663;
    font-size: 26px;
    font-family: "Varela Round", sans-serif;
    width: 150px;
}

a:hover {
    color:#E6752F;
    font-weight: 700;
}

h1, h2 {
    color: var(--accent1-color);
    font-family: "Grandstander", serif;
}

p {
    color: var(--accent1-color);
    font-family: "Varela Round", sans-serif;
}

body {
    max-width: 1500px;
}

div .hero {
    position: relative;
    display: block;
}

h1 {
    position: absolute;
    top: 225px;
    left: 200px;
    right: 200px;
    text-align: center;
    background: var(--primary-color);
    max-width: 1000px;
}

article {
    position: absolute;
    top: 300px;
    left: 8px;
    right: 15px;
    background:#f5ee166c;
    max-width: 1500px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 170px;
    height: auto;
}

.history {
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    /* grid-template-rows: 20px 20px; */
    align-items: center;
}

.history h2 {
    text-align: center;
    grid-column: 2;
    grid-row: 1;
}

.one {
    grid-column: 2;
    grid-template-rows: 20px;
    justify-self: center;
    width: 200px;
    height: auto;
}

#p-one {
    grid-column: 1;
    grid-row: 2;
    text-align: right;
}

#p-two {
    grid-column: 3;
    grid-row: 2;
    text-align: left;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.adventure h2 {
    grid-column: 1/6;
    grid-row: 1/2;
    text-align: center;

}

/* .adventure figcaption {
    text-align: center;
} */

.adventure img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    grid-column: 1/6;
    justify-content: space-around;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 5px solid #251663;
}

footer p {
    text-align: center;
    grid-column: 2;
}

.sociallinks img {
    width: 50px;
    height: auto;
    margin: 5px;
}

