@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@300&family=Varela+Round&display=swap');

/* Define the CSS variables in the document :root pseudo-class selector from the color schema you have selected and 
documented in your website plan. */

:root {
    --primary-color: #0193E0;
    --secondary-color: #E6752F;
    --accent1-color: #251663;
    --accent2-color: #F5ED16;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 2fr 6fr;
    align-items: center;
    justify-items: center;
    border-bottom: 5px solid #251663;
    max-width: 1500px;
}

header img {
    margin: .5rem 0 1 rem;
    width: 200px;
    height: auto;
}

nav {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

a {
    text-decoration-line: none;
    padding: 10px;
    color: #251663;
    font-size: 26px;
    font-family: "Varela Round", sans-serif;
    width: 200px;
}

a:hover {
    color:#E6752F;
    font-weight: 700;
}

h1, h2 {
    color: var(--accent1-color);
    font-family: "Grandstander", serif;
}

p {
    color: var(--accent1-color);
    font-family: "Varela Round", sans-serif;
}

body {
    max-width: 1500px;
}

div .hero {
    position: relative;
    display: block;
}

h1 {
    position: absolute;
    top: 200px;
    left: 200px;
    right: 200px;
    text-align: center;
    background: var(--primary-color);
    max-width: 1000px;
}

article {
    position: absolute;
    top: 300px;
    left: 15px;
    right: 15px;
    background:#f5ee166c;
    max-width: 1500px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 170px;
    height: auto;
}

.history section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px 20px;
    align-items: center;
}

.history h2 {
    grid-template-columns: 1/4;
    grid-template-rows: 1/2;
}

.history img {
    grid-column: 2/3;
    grid-template-rows:2/3;
    align-self: center;
    width: 170px;
    height: auto;
}

.history .p-one p {
    grid-column: 1/2;
    grid-row: 2/3;
}

.history .p-two p {
    grid-column: 3/4;
    grid-row: 2/3;
}

.adventure section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 20px 20px;
    gap: 10px;
    width:100px;
    height: 50px;
    overflow: hidden;
}

.adventure h2 {
    grid-column: 1/6;
    grid-row: 1/2;

}

.adventure img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    grid-column: 1/6;
    grid-row: 2/3;
    

}

footer {
    display: block;
}

footer p {
    text-align: center;
}

footer nav a img {
    float: right;
    width: 50px;
    height: auto;
}